[kis]
APP_KEY = "여기에_발급받은_APP_KEY를_입력하세요"
APP_SECRET = "여기에_발급받은_APP_SECRET을_입력하세요"
ACCOUNT_NO = "계좌번호_앞8자리-뒤2자리_형태로_입력" # 예: "12345678-01"

[telegram]
TOKEN = "여기에_텔레그램_봇_토큰을_입력하세요"
CHAT_ID = "여기에_텔레그램_챗_ID를_입력하세요"